.container-fluid {
  padding: 0;
}
.logo {
  max-height: 90px;
}
.logo-text {
  display: inline;
  font-family: 'Satisfy', cursive;
  color: #F48166;
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px !important;
}
.jumbotron h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.item {
  padding: 0 5px;
}
.thumbnail {
  background-color: #edf1f4;
}
.services {
  text-align: center;
}
footer {
  background-color: #231f20;
}
