.header img {
  max-width: 90px;
}
.header h1 {
  font-family: 'Satisfy', cursive;
  color: #F48059;
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
}
.featured h2 {
  text-transform: uppercase;
}
.featured .item {
  padding: 0 5px;
}
.featured .thumbnail {
  background-color: #EDF1F4;
  padding: 10px;
}
.services h2 {
  text-transform: uppercase;
}
.services ul li a {
  text-transform: uppercase;
  color: #61AEE6;
}
footer {
  background-color: #231F20;
  padding: 20px;
}
footer .row {
  margin: 0;
}
footer img {
  max-width: 150px;
}
footer a {
  color: #DDD;
}
footer .border {
  border-left: 1px solid #505050;
}
footer .copyright {
  color: #505050;
  font-size: 18px;
}
